# Credenciales y variables privadas
.Renviron
.env
*.key
*.pem

# Dependencias locales de R y proyectos
.r-library/
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Despliegues y temporales
rsconnect/
.rscignore
temp/
scratch/
*.log
*.jpg.backup

# Archivos de datos crudos locales y outputs pesados (Ahora servidos desde Supabase)
data/
outputs/
